In [4]:
sum([1, 2, 3, 4])

10

In [2]:
from tabulate import tabulate

table = [
    [0, 'Apel', 20, 10000],
    [1, 'Anggur', 15, 15000],
    [2, 'Jeruk', 25, 20000],
]

headers = ['Index', 'Name', 'Stock', 'Price']

print(tabulate(table, headers, tablefmt="grid"))

+---------+--------+---------+---------+
|   Index | Name   |   Stock |   Price |
+=========+========+=========+=========+
|       0 | Apel   |      20 |   10000 |
+---------+--------+---------+---------+
|       1 | Anggur |      15 |   15000 |
+---------+--------+---------+---------+
|       2 | Jeruk  |      25 |   20000 |
+---------+--------+---------+---------+