In [26]:
import tabulate

db = {
    'column': ['index', 'nama', 'stock', 'price'],
    'apel': [0, 'apel', 20, 20000],
    'jeruk': [1, 'jeruk', 15, 10000],
    'anggur': [2, 'anggur', 12, 15000],
}

print(tabulate.tabulate(db.values(), db['column'], tablefmt="outline"))

+---------+--------+---------+---------+
| index   | nama   | stock   | price   |
+=========+========+=========+=========+
| index   | nama   | stock   | price   |
| 0       | apel   | 20      | 20000   |
| 1       | jeruk  | 15      | 10000   |
| 2       | anggur | 12      | 15000   |
+---------+--------+---------+---------+